.three-layout {
  display: flex;
  height: 300px;
  border: 2px solid #000;
  width: 100%;
}
.three-layout .main {
  order: 2;
}

.three-layout .aside-left {
  order: 1;
}

.three-layout .aside-right {
  order: 3;
}
